:root {
  --sidebar-width: 320px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bi {
    margin-right: 6px;
}

.nav-link {
    color: black;
}

.nav-link.active {
    font-weight: var(--bs-nav-link-font-weight) !important;
    border-radius: 20px;
}

.nav-underline .nav-link {
    color: black;
}

.form-control:focus {
  border-color: #afafaf;
  box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25);
}

.form-select:focus {
  border-color: #afafaf;
  box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25);
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #0D6EFD;
}

#offcanvasScrolling {
  width: var(--sidebar-width);
}

.main-content {
  margin-left: var(--sidebar-width);
}

.offcanvas.offcanvas-start {
    width: var(--sidebar-width);
    background-color: #f8f9fa;
    border-right: 1px solid #e9ecef;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #0D6EFD;
}

