:root {
  --sidebar-width: 320px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
  color: black;
}

.nav-link.active {
  border-radius: 20px;
}

.form-control:focus, .form-select:focus {
  border-color: #afafaf;
  box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #0D6EFD;
}

#offcanvasScrolling {
  width: var(--sidebar-width);
}

.main-content {
  margin-left: var(--sidebar-width);
}

.offcanvas.offcanvas-start {
  width: var(--sidebar-width);
  background-color: #f8f9fa;
  border-right: 1px solid #e9ecef;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
}


