:root {
  --sidebar-width: 320px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bi {
    margin-right: 7px;
}

.nav-link {
    color: black;
}

.nav-link.active {
    font-weight: var(--bs-nav-link-font-weight) !important;
}

a > img {
    margin-left: 10px;
}

.nav-item {
    padding: 5px;
}

.nav-underline .nav-link {
    color: black;
}

.form-control:focus {
  border-color: #afafaf;
  box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25);
}

.form-select:focus {
  border-color: #afafaf;
  box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .25);
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: black;
}

#offcanvasScrolling {
  width: var(--sidebar-width);
}

.main-content {
  margin-left: var(--sidebar-width);
}

.offcanvas.offcanvas-start {
    background-color: #f8f8f8;
    width: var(--sidebar-width)
}

