{% extends "layout.html" %}

{% block title %}
    Completed
{% endblock %}

{% block div %}
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="text-start">Tasks</th>
                <th class="text-end">Completed at</th>
            </tr> 
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td class="text-start">{{ task.title }}</td>
                <td class="text-end">{{ task.completed_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}